form {
    background-color: rgba(246, 246, 205, 0.848);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}


input , select{
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
}

/*PENDIENTE QUITAR COLORES Y DAR FORMATO SI ES NECESARIO A CADA FORMULARIO Y SIN ELIMINAR*/
.activityform {
    & input, select {
        width: 100%;
        padding: 8px;
    }
    color: green;
}

.companyform {
    & input, select {
        width: 100%;
        padding: 8px;
    }
    color: aquamarine;
}
.loginform {
    & input, select {
        width: 100%;
        padding: 8px;
    }
    color: red;
}

.searchform {
    & select {
        width: 100%;
        padding: 8px;
    }
    & div:first-of-type {
        display: flex;
        gap: 20px
    }
}

.registerform {
    color: violet;
}