.activitycompany {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    & li {
        max-width: 350px;
        display: flexbox;
        justify-content: center;
        & img {
            max-width: 300px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 768px) {

.activitycreate {
    margin-top: 
}
}