form {
  background-color: rgba(244, 244, 174, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  color: olive;
  font-weight: 700;
  & input,
  select,
  textarea {
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  & p {
    color: red;
  }
  & select {
    width: 100%;
  }
  & input,
  textarea {
    width: calc(100% - 18px);
  }
}

.searchform {
  & .type {
    display: flex;
  }
  & .filters {
    display: flex;
    gap: 20px;
    & div {
      flex-direction: column;
    }
  }
  & div {
    display: flex;
    gap: 20px;
  }
  color: olive;
  font-weight: 700;
  max-width: 700px;
}

@media screen and (max-width: 768px) {
  .searchform {
    & .type {
      flex-wrap: wrap;
    }
    & .filters {
      flex-direction: column;
    }
  }
}
